<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>松鼠客</title>
    <script src="{{ asset('/bundles/songshukrmain/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('/bundles/songshukrmain/js/jquery.md5.js') }}"></script>
    <link href="{{ asset('/bundles/songshukrmain/css/base.css') }}" rel="stylesheet"/>
    <style type="text/css">
    </style>
</head>
<body>
	<div class="songshukr-header">
		<a class="songshukr-header-btn-left songshukr-main-dark" href="">我的订单</a>
        <div class="songshukr-header-title">
            今日鲜果快递
        </div>
        <a class="songshukr-header-btn-right songshukr-main-dark" href="">购物车</a>
    </div>
    <div class="songshukr-container">
		<div class="songshukr-production-item">
			<img class="songshukr-production-pic"/>
			<div style="float:left;margin-top:5px;">
				<div class="songshukr-production-name">新疆阿克苏原产大苹果</div>
				<div class="songshukr-production-price">15元/斤</div>
			</div>
			<div style="float:right;margin-top:10px;">
				<div class="songshukr-production-plus songshukr-production-numcontroll">+</div>
				<input class="songshukr-input-small songshukr-production-num" value="1" 
					style="text-align:center" />
				<div class="songshukr-production-minus songshukr-production-numcontroll">-</div>
			</div>
			<div class="songshukr-btn-small songshukr-production-shopping-btn songshukr-bg-main-shallow">立即购买</div>
			<div class="songshukr-btn-small songshukr-production-cartbtn songshukr-bg-main-shallow">放入购物车</div>
			<div class="clear"></div>
		</div>
    </div>
</body>
<script>
	$(document).ready(function(){
		$(document).delegate('.songshukr-production-numcontroll','click',changeNum);
	});
	function changeNum(){
		var btn = $.trim($(this).html());
		switch(btn){
			case '+':
				if($('.songshukr-production-num').val()>98){
					alert('购买数量不能大于99');
					return false;
				}else{
					$('.songshukr-production-num').val(
						Number($('.songshukr-production-num').val())+1);
				}
				break;
			case '-':
				if($('.songshukr-production-num').val()<1){
					alert('您最少要购买一件产品哦');
				}else{
					$('.songshukr-production-num').val($('.songshukr-production-num').val()-1);
				}
				break;
		}
	}
</script>