# Symfony
/web/bundles/
/app/cache/*
/app/logs/*
/vendor/
/vendor/twig/
/app/config/parameters.yml
/app/bootstrap*
/composer.lock
/autoload*
/bin/ 

# Localfiles
symfony-update-m

# Eclipse
.buildpath
.project
/.settings/

# Mac staff
.DS_Store

# C-tag
/src/Songshukr/.tags
/src/Songshukr/.tags_sorted_by_file