/* body */
body{
	margin: 0px;
	text-align: center;
	font-family: Arial,"MS Trebuchet",sans-serif;
}
.songshukr-header{
	height: 40px;
	background-color: #ededed;
}
.songshukr-container{
	margin: 0px 10px;
}
.clear{
	clear: both;
}
/* style */
.songshukr-bg-main-shallow{
	background-color: #3399FF;
}
.songshukr-bg-main-dark{
	background-color: #0066CC;
}
.songshukr-main-shallow{
	color: #3399FF;
}
.songshukr-main-dark{
	color: #0066CC;
}
.songshukr-display-block{
	display: block;
}

/*Custom-Comonent*/
.songshukr-production-item{
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	text-align: left;
	color: #777;
}
.songshukr-production-pic{
	width: 80px;
	height: 80px;
	float: left;
}
.songshukr-production-name{
	margin: 10px 10px;
}
.songshukr-production-price{
	margin: 10px;
}
.songshukr-production-plus{
	display: inline-block;
	font-size: 30px;
}
.songshukr-production-minus{
	display: inline-block;
	font-size: 30px;
}
.songshukr-production-shopping-btn{
	position: absolute;
	right: 100px;
	bottom: 5px;
}
.songshukr-production-cartbtn{
	position: absolute;
	right: 0px;
	bottom: 5px;
}

/* System-Component */
.songshukr-header-title{
	font-size: 20px;
	font-weight: 900;
	line-height: 40px;
}
.songshukr-header-btn-left{
	position: absolute;
	font-size: 20px;
	left: 10px;
	top: 10px;
	font-weight: 900;
	cursor: pointer;
	text-decoration: none;
}
.songshukr-header-btn-right{
	position: absolute;
	font-size: 20px;
	right: 10px;
	top: 10px;
	font-weight: 900;
	cursor: pointer;
	text-decoration: none;
}

.songshukr-input-border{
	height: 30px;
	margin: 8px 0px;
	border:1px solid #CCC;
	overflow: hidden;
}
.songshukr-input-small{
	font-size: 16px;
	padding: 0px 10px;
	width: 20px;
	height: 30px;
	border: 1px solid #CCC;
	outline:none;
	vertical-align: top;
}
.songshukr-input-big{
	font-size: 16px;
	padding: 0px 10px;
	width: 95%;
	height: 30px;
	border: 0px solid #CCC;
	outline:none;
}

.songshukr-btn-small{
	font-size: 14px;
	padding: 5px;
	line-height: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: 900;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.songshukr-btn-big{
	margin: 8px 0px;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	color:#fff;
	cursor: pointer;
	font-weight: 900;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}